body {
  margin: 0;
}

.main-cont {
  display: flex;
  flex-direction: column;
}


/* everything related to the first container */

.first-cont {
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
  padding: 0 80px;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #E5E7EB;
  font-size: 18px;
}

.logo {
  width: 90px;
  height: 70px;
}

ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

.first-cont .content {
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  border: 1px solid green;
}

.first-cont .texts {
  display: flex;
  flex-direction: column;
  flex: 3;
  border: 1px solid blue;
}

.first-cont .title {
  font-size: 48px;
  color: #F9FAF8;
  margin: 0;
  font-weight: 800;
}

.first-cont .text {
  margin: 0;
  margin-bottom: 15px;
  color: #E5E7EB;
  font-size: 18px;
}

.first-cont .buttons {
  display: flex;
  gap: 30px;
  flex-grow: 1  ;
}

button {
  border-radius: 5px;
  flex: 1;
  background-color: #3882F6;
  color: #E5E7EB;
}

.image {
  flex: 1;
  border: 1px solid red;
}

.dino-run {
  width: 100%;
}

/* everything related to the second container */

.second-cont {
  display: flex;
  flex-direction: column;
}

.second-cont .main-title {
  align-self: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 36px;
  font-weight: 800px;
}

.second-cont .items {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.second-cont .item-img {
  width: 250px;
  height: 250px;
  border: 8px solid #3882F6;
  justify-content: center;
  align-items: center;
}


.second-cont .item {
  display: flex;
  flex-direction: column;
}

.item-text ul {
  display: flex;
  flex-direction: column;
}